black==22.10.0
isort==5.10.1
flake8==5.0.4
mypy==0.982
numpy==1.23.4
pandas==1.5.1
pre-commit==2.20.0
pylint==2.13.8
pylint-google-style-guide-imports-enforcing==1.2.0
torch==1.12.1
torchvision==0.13.1
